.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  width: 167px;
  pointer-events: none;
}

.App-header {
  background-color: #979CB9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.content {
  background-color: #D9D9D9;
  margin: 20px;
  display: flex;
  flex-direction: row;          
  align-items: center;          
  justify-content: space-between; 
  padding: 30px;                
  gap: 30px;                    
}

.content .text {
  font-size: 1.5rem;
  text-align: left;             
  max-width: 60%;               
  flex: 1;                      
}

.content .photo {
  width: 30%;                 
  max-width: 300px;            
  height: auto;                
}

.header-down{
  background-color: #979CB9;
  width: 100%;
}


.header-down .num{
  width: 2.5rem;
}

.header-down .wha{
  width: 3.4rem;
}

.header-down .tel{
  width: 2.5rem;
}

.header-down .text{
  background-color: white;
}